#header{ 
    font-family:"Monsterize";
    font-size: 20px;
}

#header .gauche{

    background-color: rgb(197, 184, 204);
    line-height: 50px;

    
}

#header .milieu{

    background-image: url("../images/Vroooom.png");
    background-repeat: no-repeat;
    background-size: contain;  
    background-position: center;
    background-color: rgb(85, 62, 84);
    height: 80px;
    align-items: center;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(61, 61, 143) 50%, rgb(12, 5, 104) 100%);




}

#header .droite{

    background-color: rgb(94, 62, 84);
    line-height: 50px;

    
}



#content{ 
    height:60%;

}

.logo {
    width: 200px;
    height: 75px;
    object-fit: cover;
    float: right;
}

.navbar {
    max-height: 80px;
    text-align: center;
}

body {
    background-color: lightgray;
}

